<div class="container mt-5">
    <table class="table">
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Image</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        <% if (carts.items) {
            carts.items.map(x => { 
        %>
        <tr id="item_<%= x.id %>">
            <th><%= x.item.name %></th>
            <th><%= x.item.price %></th>
            <th><img src="<%= x.imageSrc %>" alt="<%= x.item.name %> " width="75px"> </th>
            <th class="d-flex">
                <form action="/cart/reduce/<%= x.id %>?_method=put" method="post" data-id="<%= x.id %>/reduce"class="changeCart">
                    <input type="submit" value="-" class="btn btn-light mx-3"/>    
                </form>
                <span id="<%= x.id %>"><span id="qty<%= x.id %>"><%= x.qty %></span></span>
                <form action="/cart/increase/<%= x.id %>?_method=put" method="post" data-id="<%= x.id %>/increase" class="changeCart">
                    <input type="submit" value="+" class="btn btn-light mx-3"/>    
                </form>
                </th>
            <th>
                <form action="/cart/delete/<%= x.id %>?_method=delete" method="post" data-id="<%= x.id %>" class="deleteCart">
                    <input type="submit" value="Delete" class="btn btn-danger"/>    
                </form>
            </th>
        </tr>
        <% })} %>
    </table>
    <h1 id="total1"><span id="total2">Total: <%= carts.priceTotal %></span></h1>
</div>